/* Carousel*/
sup {
	top: 0.5em!important;
	font-size: 3em!important;
	color: red!important;
}
.banner_der {
	position: absolute;
	top: 20%;
	right: 5%;
	width: 35%;
}
html {
  width: 100%}

body {
  margin: 0; }

ul{
	list-style: none;
}
.text-white
{
  color: #fff;
}
.trans {
	background: transparent !important;
}
.banner_izq {
	position: absolute;
	top: 20%;
	left: 5%;
	width: 35%;
}
.dobleline {height: 2em;}
.doblelinep{height: 4em;}
.superh1 {
	font-size: 5rem;
	margin-bottom: 2rem;

}
@media (min-width: 768px) and (max-width: 991px) {
  .superh1 {
    font-size: 4.3rem;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .superh1 {
    font-size: 3rem;
  }
}
/* Navbar */
.badge {
	background-color: #0166FF !important;
}
#gotas {
	background-image: url("../img/rain.jpg") !important;
	background-size: cover;
}
#buscador {
	color: #999 !important;
	margin-top: 8px;
	margin-left: 30px;
}
#buscador1 {
	margin-left: 75px;
	min-width: 350px;
	height: 40px;
	background-color: white;
	border-radius: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #buscador1 {
    min-width: 150px !important;
    width: 210px !important;
  }
}
#claro {
	background-color: rgba(255,255,255,0.7) !important;
	border-radius: 25px !important;
}
.nover {
	display: none !important;
}
.oculto {
	display: none !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .ocultar {
    display: none !important;
  }
}
.mostrar {
	display: block !important;
}
.ms-menu-double-submenu {
	background-color: #eee !important;
}
.ms-menu-double-submenu > li > a {
	color: #777 !important;
}
.peque {
	font-size: 1.5rem;
	font-stretch: extra-condensed !important;
}
